.container{
	background:lightgrey;
	width:600px;
	height:600px;
	margin:0 auto;
}

.block{
	width:10px;
	height:10px;
	margin:0px;
	background-color: grey;
	display:inline-block;
}

.color{
	background-color: black;
}
