.container{
	background:lightgrey;
	width:600px;
	height:600px;
	margin:0 auto;
}

.block{
	background-color: grey;
	display:inline-block;
}

.new-row{
	clear:both;
}

.color{
	background-color: black;
}
